[tool.poetry]
name = "olas-operate-middleware"
version = "0.14.7"
description = ""
authors = ["David Vilela <dvilelaf@gmail.com>", "Viraj Patel <vptl185@gmail.com>"]
readme = "README.md"
packages = [
    { include = "operate" }
]
include = [
    "operate/data/acn/*",
    "operate/data/contracts/*",
    "operate/data/contracts/staking_token/*",
    "operate/data/contracts/staking_token/build/*",
]

[tool.poetry.scripts]
operate = "operate.cli:main"

[tool.poetry.dependencies]
python = "<3.12,>=3.10"
open-autonomy = "^0.21.4"
open-aea-ledger-cosmos = "^2.0.6"
open-aea-ledger-ethereum = "^2.0.6"
open-aea-ledger-ethereum-flashbots = "^2.0.6"
open-aea-cli-ipfs = "^2.0.6"
clea = "==0.1.0rc4"
cytoolz = "==0.12.3"
fastapi = "0.110.3"
uvicorn = "==0.27.0"
psutil = "^5.9.8"
pyinstaller = "^6.8.0"
deepdiff = "^8.6.1"
halo = "==0.0.31"
argon2-cffi = "==23.1.0"
requests-mock = "^1.12.1"
multiaddr = "==0.0.9"
cryptography = "^46.0.3"

[tool.poetry.group.development.dependencies]
tomte = {version = "0.4.0", extras = ["cli"]}
build = "1.2.2.post1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
