interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0x54330d28ca3357F294334BDC454a032e7f353416",
      "data": "0xc01e1bd6"}, "latest"], "id": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rpc-gate.autonolas.tech/base-rpc/
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"0x0000000000000000000000000001a500a6b18995b03f44bb040a5ffc28e45cb0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bpi-N-Stat:
      - 0x286638a, latest, latest
      X-Bpi-Rate-Limit-Lvl:
      - L4
      X-Gateway-Id:
      - '0xa2ceb551e7edbc213ad1b18698d1bf0515462fe1'
      X-Node-Id:
      - '0xdb707a08b75c2cbbe7dabf9b2c362ce62531baef'
      X-Provider:
      - base-rpc
    status:
      code: 200
      message: OK
version: 1
