@import '@fontsource/inter';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/900.css';

html, body {
  margin: 0;
  padding: 0;   
  height: auto;
}

body {
  max-width: 460px;
  border-radius: 8px;
  user-select: none;
  scroll-behavior: smooth;
  overflow: hidden;
}

button, input, select, textarea, .ant-input-suffix {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF; /* Scrollbar track background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #C2CBD7; /* Scrollbar color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9AA1AA; /* Scrollbar color when hovered */
}

// antd overrides
.ant-card {
  -webkit-app-region: no-drag;
}

.ant-alert {
  .anticon {
    margin-top: 3px;
  }
}

.antd-card {
  background-color: #FFFFFF;
  overflow-y: scroll;
}

.balance {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 56px;
  line-height: 48px;
}

.balance-symbol {
  @extend .balance;
  font-size: 32px;
  line-height: 32px;
}

.balance-currency {
  @extend .balance;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.custom-alert {
  align-items: flex-start;

  &--primary {
    border-color: #ECD7FE;
    background-color: #F8F0FF;
    color: #7E22CE;

    .ant-alert-icon {
      color: #7E22CE;
    }
  }

  &--info {
    color: #002C8C;
  }

  &--warning {
    color: #873800;
  }

  &--error {
    color: #A8071A;
  }

  .ant-typography {
    color: inherit;
  }

  &--full-width {
    flex: auto;
    margin: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 12px 24px;
    margin: -24px;
  }
}

.can-select-text {
  user-select: text !important;
}

.justify-start {
  justify-content: flex-start;
}

.m-0 {
  margin: 0 !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

// padding
.p-0 {
  padding: 0 !important;
}
.pl-16 {
  padding-left: 16px !important;
}
.pr-16 {
  padding-right: 16px !important;
}


.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
} 

// font size
.text-xl {
  font-size: 20px;
}
.text-base {
  font-size: 16px !important;
}
.text-sm {
  font-size: 14px !important;
}
.text-xs {
  font-size: 12px !important;
}

// text align
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

// font color
.text-light {
  color: #4D596A !important;
}
.text-light {
  color: #4D596A !important;
}
.text-primary {
  color: #7E22CE !important;
}

.pointer {
  cursor: pointer;
}

// font weight
.font-weight-600 {
  font-weight: 600 !important;
}
.font-normal {
  font-weight: normal !important;
}

.break-word {
  white-space: normal !important;
  word-wrap: break-word !important;
}

ul.alert-list {
  margin: 0 0.5em;
  padding-left: 1.25em;
}

// width
.w-3\/4 {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}

.loading-ellipses:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}